* {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    --main-collor: #003366;
    --light-text-collor: white;
    --highlighted-text: #f4d03f;
}

.highlighted {
    color: var(--highlighted-text);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--main-collor);
}

h1 {
    color: var(--light-text-collor);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list {
    display: inline;
}

.nav-link {
    color: var(--light-text-collor);
    text-decoration: none;
    margin: 0 1rem;
}

.nav-link:hover {
    color: var(--highlighted-text)
}

.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    background-color: var(--main-collor);
    color: var(--light-text-collor);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    margin: 0.5rem 0;
}