* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

:root {
    --main-collor: #003366;
    --light-text-collor: white;
    --highlighted-text: #f4d03f;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--main-collor);
}

h1 {
    color: var(--light-text-collor);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list {
    display: inline;
}

.nav-link {
    color: var(--light-text-collor);
    text-decoration: none;
    margin: 0 1rem;
}

.nav-link:hover {
    color: var(--highlighted-text)
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.page-title {
    text-align: center;
}

.dish-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.dish-image {
    max-width: 250px;
    height: auto;
}

.highlighted {
    color: var(--highlighted-text);
}

footer {
    background-color: var(--main-collor);
    color: var(--light-text-collor);
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer p {
    margin: 0.5rem 0;
}